{% extends 'base.html'%}
{% include 'nav.html'%}
{%block body%}

<h2>{{data.message}}</h2>
<form action={{url_for('mysearch')}} method="post">
    <label>Search By </label>
            <label>Username </label>
            <input type="text" name="name" required="false" value="{{data.value}}" placeholder="username"  class="searchbox">
            <label>Address </label>
            <input type="text" name="address" required="false" placeholder="address"  class="searchbox">
            <input type="submit" value="Search">
</form>
{% if data.users%}
<div class="d-flex flex-row bd-highlight m-3 flex-wrap">
    {% for u in data.users%}
    <div class="d-flex justify-content-center p-2">
        <a class="btn btn-primary" href={{url_for('details' ,id=u.id)}}>{{u.firstname}} Update</a><br>
        <a class="btn btn-danger"  href={{url_for('myDelete' ,id=u.id)}}>Delete record</a>
    </div>
    {%endfor%}
</div>
{%endif%}
{%endblock%}