
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FLASK APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  href={{url_for('home')}}>Home</a> <span class="sr-only">(current)</span></a>
      </li>
         {% if session['roll']=='A' %}
        <li class="nav-item active">
            <a class="navbar-brand"  href={{url_for('admin')}}>Admin</a>
        </li>
        {%endif%}
      <span class="nav-item">
        <a class="nav-link" href={{url_for('myLogout')}}>Log out</a>
      </span>

    </ul>
  </div>
</nav>