{% extends 'base.html'%}
{%block body%}
<h2>Sign In</h2>
<form  action={{url_for('mySign')}} method="POST">
    {{form.csrf_token}}
    <input type="text" name='firstname' placeholder="Firstname"><br>
    <input type="text" name='lastname' placeholder="Lastname"><br>
    <input type="email" name='email' placeholder="email"><br>
    <input type="text" name='phone' placeholder="phone number"><br>
    <input type="text" name='address' placeholder="Address"><br>
    <input type="Date" name='dob' placeholder="dd-mm-yyyy""><br>
    <input type="password" name='password' placeholder="password"><br>
    <input type="password" name="confirmpassword" placeholder="confirm Password"><br>
    <input class="btn btn-primary" type="submit" value="submit">
    <small><a class="btn btn-dark" href={{url_for('myLogin')}}>Login In</a> </small>
</form>
{%endblock%}